<a href="https://colab.research.google.com/github/Jappan07/LLAM-V2/blob/master/Cleaning_locust_hub_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SyntaxError: ignored

In [ ]:
import pandas as pd
import numpy as np


fn = pd.read_csv('/content/drive/MyDrive/final_points.csv')

d_moist = pd.read_csv('/content/drive/MyDrive/moisture_data.csv')

d_temp = pd.read_csv('/content/drive/MyDrive/temprature_data.csv')

d_prep = pd.read_csv('/content/drive/MyDrive/precipitation_data.csv')

In [ ]:
fn.head()

   Unnamed: 0          X          Y  Label
0           0  38.483333  27.633333    1.0
1           1  38.200000  18.050000    1.0
2           2  38.283333  18.183333    1.0
3           3  38.350000  17.916667    1.0
4           4  38.450000  17.816667    1.0

In [ ]:
fn.describe()

        Unnamed: 0            X            Y        Label
count  1845.000000  1845.000000  1845.000000  1844.000000
mean    460.750136    38.654415    17.660239     0.500000
std     266.375088     0.964445     3.525348     0.500136
min       0.000000     0.000000     1.000000     0.000000
25%     230.000000    38.381667    15.381111     0.000000
50%     461.000000    38.681667    17.680000     0.500000
75%     691.000000    39.000000    18.166667     1.000000
max     922.000000    39.231111    29.867000     1.000000

In [ ]:
fn = fn.drop(labels=[1844], axis=0)

In [ ]:
fn.describe()

        Unnamed: 0            X            Y        Label
count  1844.000000  1844.000000  1844.000000  1844.000000
mean    460.500000    38.654586    17.660108     0.500000
std     266.230516     0.964679     3.526300     0.500136
min       0.000000     0.000000     1.000000     0.000000
25%     230.000000    38.381667    15.380556     0.000000
50%     460.500000    38.684167    17.680000     0.500000
75%     691.000000    39.000000    18.166667     1.000000
max     921.000000    39.231111    29.867000     1.000000

In [ ]:


fn = fn.astype({'Label' : str})

fn.head()

   Unnamed: 0          X          Y Label
0           0  38.483333  27.633333   1.0
1           1  38.200000  18.050000   1.0
2           2  38.283333  18.183333   1.0
3           3  38.350000  17.916667   1.0
4           4  38.450000  17.816667   1.0

In [ ]:
fn = fn.rename(columns={'X': 'lat', 'Y' : 'lon'})

fn.head()

   Unnamed: 0        lat        lon Label
0           0  38.483333  27.633333   1.0
1           1  38.200000  18.050000   1.0
2           2  38.283333  18.183333   1.0
3           3  38.350000  17.916667   1.0
4           4  38.450000  17.816667   1.0

In [ ]:
d_moist = pd.read_csv('/content/drive/MyDrive/moisture_data.csv')

In [ ]:
d_temp = pd.read_csv('/content/drive/MyDrive/temprature_data.csv')

In [ ]:
d_prep = pd.read_csv('/content/drive/MyDrive/precipitation_data.csv')

In [ ]:
d_moist.head()

   Unnamed: 0    lat    lon       soilw
0       35328  38.75   8.25  394.362520
1       35329  38.75   8.75  216.888950
2       35330  38.75  14.75   61.184864
3       35331  38.75  15.25   58.990517
4       35332  38.75  15.75  574.778200

In [ ]:
main_df = pd.DataFrame(columns=['lat','lon','soilw','Label'])
main_df
count = 0
for idx, fn_row in fn.iterrows():
  for idx, d_moist_row in d_moist.iterrows():
    if abs(d_moist_row['lat'] - fn_row['lat']) < 1e-4 and abs(d_moist_row['lon'] - fn_row['lon']) < 1e-4:
      print(count)
      count = count + 1
      main_df.loc[len(main_df.index)] = [fn_row['lat'], fn_row['lon'], d_moist_row['soilw'], fn_row['Label'] ]

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215

In [ ]:

main_df.head()

     lat    lon      soilw Label
0  38.75  23.75  215.12340   1.0
1  38.75  23.75  234.46460   1.0
2  38.75  23.75  250.24620   1.0
3  38.75  23.75  252.09668   1.0
4  38.75  23.75  228.53566   1.0

In [ ]:
main_df.to_csv('/content/drive/MyDrive/data.csv')

In [ ]:
main_df = pd.DataFrame(columns=['lat','lon','soilw','Label'])
main_df
count = 0
for idx, fn_row in fn.iterrows():
  for idx, d_moist_row in d_temp.iterrows():
    if abs(d_moist_row['lat'] - fn_row['lat']) < 1e-6 and abs(d_moist_row['lon'] - fn_row['lon']) < 1e-6:
      print(count)
      count = count + 1
      main_df.loc[len(main_df.index)] = [fn_row['lat'], fn_row['lat'], d_moist_row['soilw'], fn_row['Label'] ]

NameError: ignored